$font-family: 'Barlow', sans-serif;
$primary-text-color:#000;
$secondary-text-color:#394f64;
$secondary-light-text-color: rgba(0, 0, 0, 0.3);
$pink-color:#f21c47;
$yellow-color:#ff9d00;
$green-color:#00c853;